<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Courses</title>
        <style>
            tr {
                display: block;
            }
        </style>
    </head>
    <body>
        <h3>Add a new course</h3>
        <form action="{% url 'courses:submit' %}" method="post">
            {% csrf_token %}
            Name: <input type="text" name="name">
            Description <input type="text" name="description">
            <input type="submit" name="submit" value="Add">
        </form>
        <hr>
        <h3>Add user to a course</h3>
        <form action="{% url 'courses:user_courses' %}" method="post">
            {% csrf_token %}
            <input type="submit" name="submit" value="Add User">
        </form>
        <hr>
        <h3>Courses</h3>
        <table>
            <tr>
                <th>Course Name</th>
                <th>Descrption</th>
                <th>Date Added</th>
                <th>Actions</th>
            </tr>
            {% if courses %}
                {%for course in courses%}
                <tr>
                    <td>{{course.name}}</td>
                    <td>{{course.description}}</td>
                    <td>{{course.created_at}}</td>
                    <td>
                        <form action="{% url 'courses:question' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{course.id}}">
                            <input type="submit" name="submit" value="Remove">
                        </form>
                    </td>
                </tr>
                {% endfor %}
            {% endif %}
        </table>
    </body>
</html>
